@tailwind base;
@tailwind components;
@tailwind utilities;



body {
  font-family: "Lexend Deca", sans-serif !important;
  background-color: #2c2c2c;
  background-color: #030100;

}

body {
  background-color: #030100;
  position: relative;
}

body::before {
  content: "";
  position: fixed;
  inset: 0;
  z-index: -1;
  background-image: url("/textures/grid-texture.png");
  background-repeat: repeat;
  opacity: 0.5; /* <-- safe opacity control */
}

.custom-cursor {
  width: 6px;
  height: 6px;
  background-color: #ff9d41;
  border-radius: 9999px;
  box-shadow: 0 0 4px #ff9d41;
}

h1, h2, h3, h4 {
  font-family: "Bricolage Grotesque", sans-serif;
}


/* Hide the default system cursor */

.cursor-dot {
  background-color: #FF800A;
  width: 8px;
  height: 8px;
  border-radius: 50%;
  box-shadow: 0 0 6px #FF800A;
  position: fixed;
  pointer-events: none;
  z-index: 9999;
  transition: transform 0.1s ease;
}

body {
  cursor: none;
}