@tailwind base;
@tailwind components;
@tailwind utilities;



body {
  font-family: "Lexend Deca", sans-serif;
}

.custom-cursor {
  width: 6px;
  height: 6px;
  background-color: #ff9d41;
  border-radius: 9999px;
  box-shadow: 0 0 4px #ff9d41;
}

h1, h2, h3, h4 {
  font-family: "Bricolage Grotesque", sans-serif;
}


/* Hide the default system cursor */

.cursor-dot {
  background-color: #FF800A;
  width: 8px;
  height: 8px;
  border-radius: 50%;
  box-shadow: 0 0 6px #FF800A;
  position: fixed;
  pointer-events: none;
  z-index: 9999;
  transition: transform 0.1s ease;
}