@tailwind base;
@tailwind components;
@tailwind utilities;



body {
  font-family: "Lexend Deca", sans-serif !important;
  position: relative;

}

.dark body {
  background-color: transparent;
}

.light body {
  background-color: transparent;
}

body::before {
  content: "";
  position: fixed;
  inset: 0;
  background-image: url("/textures/grid-texture.png");
  background-repeat: repeat;
  background-size: auto;
  z-index: 1; /* temporarily higher to make sure it renders */
  pointer-events: none;
}


body[data-theme="light"]::before {
  opacity: 0.2;
}

body[data-theme="dark"]::before {
  opacity: 0.4;
}


.custom-cursor {
  position: absolute;
  /* width: 6px;
  height: 6px; */
  background-color:transparent !important;
  box-shadow: none !important;
  /* box-shadow: 0 0 4px #ff9d41; */
  pointer-events: none;
  border: none !important;
  z-index: 10000;
}

h1, h2, h3, h4 {
  font-family: "Bricolage Grotesque", sans-serif;
}


/* Hide the default system cursor */

.cursor-dot {
  /* background-color: #FF800A; */
  /* width: 8px;
  height: 8px; */
  /* border-radius: 50%;
  box-shadow: 0 0 6px #FF800A; */
  position: fixed;
  pointer-events: none;
  z-index: 9999;
  transition: transform 0.1s ease;
}

body {
  cursor: none;
}

@keyframes sparklePulse {
  0% { transform: translate(-50%, -50%) scale(1); opacity: 1; }
  50% { transform: translate(-50%, -50%) scale(1.3); opacity: 0.7; }
  100% { transform: translate(-50%, -50%) scale(1); opacity: 1; }
}


li{
  font-size: 0.85rem;
}

.black-ops-one-regular {
  font-family: "Black Ops One", system-ui;
  font-weight: 400;
  font-style: normal;
}
